<html>

<body>

<div class="header">
  <div class="container">
      <h1>My Notes 2 U!</h1>
      <%= link_to("http://www.professorstring.com", :alt => "home image", :width => 100, :height => 100, :title => "Click here to see Professor") do %>
        <%= image_tag "http://www.professorstring.com/images/Prof_Author_Logo.jpg" %>
      <% end %>

      <!--<img src="http://www.professorstring.com/images/Prof_Author_Logo.jpg"> -->
  </div>
</div>

<% @mynotes.each do |n| %> 
<div class="mynote"> 
  <p class="content"><%= n.content %></p> 
  <p class="time"><%= n.created_at %></p> 
</div> 
<% end %>
<%= link_to 'New Message', "mynotes/new" %>
<%= link_to 'Tags', "/tags" %>

 </body>
</html>